<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta
      name="viewport"
      content="width=device-width; initial-scale=1.0; maximum-scale=1.0;"
    />
    <title>MyLikita</title>
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,600"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <style type="text/css">
      * {
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: medium;
      }
    </style>
  </head>
  <body style="padding: 0; margin: 0; background: #f4f4f4;">
    <table style="max-width: 700px; width: 100%; border: 0; margin: 20px auto;">
      <tr>
        <td>
          <table
            style="
              border: 1px solid #d7d7d7;
              width: 100%;
              max-width: 700px;
              background: white;
              position: relative;
            "
          >
            <tr>
              <td
                style="background: #eee; height: auto; vertical-align: middle;"
              >
                <div
                  style="
                    padding: 20px 15px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                  "
                >
                  <img
                    style="width: 100px;"
                    src="https://res.cloudinary.com/emaitee/image/upload/v1590845025/logo.png"
                    alt="MyLikita"
                  />
                </div>
              </td>
            </tr>
            <tr>
              <td style="padding: 40px 20px 0px 20px;">
                <h6>
                  Hi <%= data.firstname %> <%= data.lastname %>,
                </h6>
                <div style="font-size: 24px;">
                  <p>
                    Thank you for registering with us, we are happy to inform
                    you that your account is now active and you proceed to login
                    <!-- <a href="https://app.mylikita.clinic/auth" target="_blank">here</a>  -->
                    with the credentials with which you registered.
                  </p>
                  <!-- <p>
                    We welcome you onboard.
                  </p>
                  -->

                  <button
                    type="button"
                    style="
                      background-color: #0069d9;
                      border: none;
                      color: white;
                      padding: 15px 32px;
                      text-decoration: none;
                      display: block;
                      font-size: 16px;
                      margin-left: auto;
                      margin-right: auto;
                    "
                  >
                    <a
                      style="text-decoration: none; color: #fff;"
                      href="https://app.mylikita.clinic/auth"
                    >
                      Proceed to login</a
                    >
                  </button>
                  <br />

                  <p>
                    Feel free to reach out to us for any complaints or questions
                    by replying to this email or sending us an email directly on
                    <a href="mailto:hello@mylikita.clinic">this email address</a
                    >.
                  </p>

                  <p><br />Enjoy using MyLikita !!</p>
                </div>

                <p style="margin: 60px 0 30px 0;">
                  Thanks.<br />
                  MyLikita Dev. Team
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <div
                  style="
                    background: #eee;
                    width: 100%;
                    text-align: center;
                    padding: 10px;
                  "
                >
                  <!-- <a href="https://mylikita.clinic" style="color: #ddd;"
                    >Contact Us</a
                  > -->
                  <p style="text-align: center; font-size: small;">
                    Follow us on:
                  </p>
                  <p
                    style="
                      display: flex;
                      flex-direction: row;
                      align-items: center;
                      justify-content: center;
                      font-size: small;
                    "
                  >
                    <a
                      href="https://www.facebook.com/mylikitaNG"
                      target="_blank"
                      style="margin: 0 5px;"
                    >
                      <img
                        src="https://cdn3.iconfinder.com/data/icons/capsocial-round/500/facebook-512.png"
                        height="25px"
                        width="25px"
                      />
                    </a>
                    <a
                      href="https://www.twitter.com/mylikitaNG"
                      target="_blank"
                      style="margin: 0 5px;"
                    >
                      <img
                        src="https://cdn4.iconfinder.com/data/icons/social-media-icons-the-circle-set/48/twitter_circle-512.png"
                        height="25px"
                        width="25px"
                      />
                    </a>
                    <a
                      href="https://www.instagram.com/mylikitaNG"
                      target="_blank"
                      style="margin: 0 5px;"
                    >
                      <img
                        src="https://i.pinimg.com/originals/a2/5f/4f/a25f4f58938bbe61357ebca42d23866f.png"
                        height="25px"
                        width="25px"
                      />
                    </a>
                  </p>

                  <div>
                    <p
                      style="
                        text-align: center;
                        font-size: small;
                        padding: 0;
                        margin: 0;
                      "
                    >
                      Copyright &copy; <%= (new Date()).getFullYear() %>
                      MyLikita, All rights reserved.
                    </p>
                    <p
                      style="
                        text-align: center;
                        font-size: small;
                        padding: 0;
                        margin: 0;
                      "
                    >
                      Our mailing address is:
                    </p>
                    <p
                      style="
                        text-align: center;
                        font-size: small;
                        padding: 0;
                        margin: 0;
                      "
                    >
                      MyLikita
                    </p>
                    <p
                      style="
                        text-align: center;
                        font-size: small;
                        padding: 0;
                        margin: 0;
                      "
                    >
                      No 3, Sabo Bakin Zuwo Road, Kano
                    </p>
                    <p
                      style="
                        text-align: center;
                        font-size: small;
                        padding: 0;
                        margin: 0;
                      "
                    >
                      Kano 222700
                    </p>
                    <p
                      style="
                        text-align: center;
                        font-size: small;
                        padding: 0;
                        margin: 0;
                      "
                    >
                      Nigeria.
                    </p>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
